.login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 360px;
    height: 496px;
}

.login-form h2 {
    color: var(--Gray-900, #181D27);
    /* Display md/Semibold */
    font-family: var(--montser-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
    margin: 0px;
}

.login-form p {
    color: var(--Gray-600, #535862);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0px;
}

.login-form header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px;
}


.icon-container {
    position: relative;
}




.form-label {
    color: var(--Gray-700, #414651);

    /* Text sm/Medium */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
    /* 142.857% */
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.forgot-pass {
    margin-block: 24px;
}

.forgot-pass label {
    color: var(--Brand-700, #007981);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0px;
}

form footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

.register {
    color: var(--Brand-700, #007981);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;

    cursor: pointer;
    /* 142.857% */
}

@media(max-width: 400px){
    .login-form{
        width: auto;
    }
    .login-form h2{
        font-size: 24px;
        line-height: 32px;
    }
}