.galery-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-inline: 80px;
    padding-block: 96px;
    box-sizing: border-box;
    align-items: center;
}

.sk {
    width: 100%;
    height: 100%;
}

.prod-skel {
    width: 100%;
    height: 100%;
}



.chargin-bar-container {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 8px;
    background-color: #F5F5F5;
    z-index: 1000;
}



.chargin-bar {
    width: 0%;
    height: 100%;
    background-color: var(--Brand-700, #178C94);
    animation: loading 4s ease-in-out forwards;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    80% {
        width: 80%;
    }

    100% {
        width: 95%;
    }
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.116) 29.01%, rgba(0, 0, 0, 0.555) 96.93%);
}

.galery-header {

    display: flex;
    flex-direction: column;
    gap: 24px
}

h2 {
    color: var(--Brand-900, #175659);
    text-align: center;

    /* Display lg/Semibold */
    font-family: var(--montser-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    /* 125% */
    letter-spacing: -0.96px;
    margin: 0px;
}

.galery-header h3 {
    color: var(--Brand-700, #007981);
    text-align: center;

    /* Text xl/Regular */
    font-family: var(--montser-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0px;
    /* 150% */
}


.category-nav {
    display: flex;
    width: 100%;
    height: auto;
    overflow: auto;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: center;
}

.category-nav::-webkit-scrollbar {
    display: none;
}

.category-nav .button-chips {
    white-space: nowrap;
}


.galery-content {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-auto-rows: 360px;
    gap: 32px;

}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
}

.product img {
    height: 105%;
    width: 105%;
    position: absolute;
    object-fit: cover;
    transition: width 0.5s ease, height 0.5s ease;
}

.product:hover img {
    height: 100%;
    width: 100%;
}

.product.pos-0 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.product.pos-1 {
    grid-column: 3;
    grid-row: 1;
}

.product.pos-2 {
    grid-column: 3;
    grid-row: 2;
}

.product.pos-3 {
    grid-column: 1;
    grid-row: 3;
}

.product.pos-4 {
    grid-column: 2;
    grid-row: 3;
}

.product.pos-5 {
    grid-column: 3;
    grid-row: 3;
}

.product.pos-6 {
    grid-column: 1;
    grid-row: 4;
}

.product.pos-7 {
    grid-column: 2/4;
    grid-row: 4/6;
}

.product.pos-7.small {
    grid-column: 2;
    grid-row: 4;
}

.product.pos-8 {
    grid-column: 1;
    grid-row: 5;
}


.info-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 64px 58px;
    box-sizing: border-box;
}

.info-content.t1 {
    padding: 42px 44px;
}


.product-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.product-info.t1 {
    bottom: 32px;
    left: 44px;
}

.product-info.t2 {
    bottom: 77px;
    left: 38px;
}

h3 {
    color: var(--White, #FFF);
    font-family: var(--montser-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    /* 125% */
    letter-spacing: -0.96px;
    margin: 0px;
    text-align: left;
}

.product-info.t1 h3 {
    color: var(--White, #FFF);

    /* Display md/Semibold */
    font-family: var(--montser-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
}

.product-info.t1 p {
    color: var(--White, #FFF);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.product p {
    color: var(--White, #FFF);

    /* Text xl/Regular */
    font-family: var(--montser-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    margin: 0px;
}

.pagination {
    display: flex;
    width: 1216px;
    height: 40px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.move {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.move label {
    color: var(--Gray-600, #535862);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    /* 142.857% */
}

.pages {
    display: flex;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px;
}

.page label {
    color: var(--Gray-500, #717680);
    text-align: center;

    /* Text sm/Medium */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.page.active {
    background: #F0FEFF;
}

.page.active label {
    color: var(--Brand-900, #175659);
}

@media (max-width: 1400px) {
    .category-nav {
        justify-content: left;
    }
}

@media(max-width: 1250px) {
    .galery-content {
        grid-template-columns: repeat(2, 390px);
        grid-auto-rows: 360px;
        gap: 32px;
    }

    .product.pos-0 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .product.pos-1 {
        grid-column: 1;
        grid-row: 3;
    }

    .product.pos-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .product.pos-3 {
        grid-column: 1;
        grid-row: 4;
    }

    .product.pos-4 {
        grid-column: 2;
        grid-row: 4;
    }

    .product.pos-5 {
        grid-column: 1;
        grid-row: 5;
    }

    .product.pos-6 {
        grid-column: 2;
        grid-row: 5;
    }

    .product.pos-7 {
        grid-column: 1;
        grid-row: 6;
    }

    .product.pos-8 {
        grid-column: 2;
        grid-row: 6;
    }

}

@media (max-width: 1220px) {
    .pagination {
        width: 100%;
        padding-inline: 40px;
    }
}

@media (max-width: 800px) {
    .galery-container {
        padding-inline: 40px;
        padding-block: 64px;
    }

    .galery-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 100%;
        height: 432px;
    }

    .product-info h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .product-info.t1 h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .product-info p {
        font-size: 14px;
        line-height: 20px;
    }

    .product-info.t1 p {
        font-size: 14px;
        line-height: 20px;
    }

    .info-content {
        padding: 42px 24px;
    }

    .info-content.t1 {
        padding: 42px 24px;
    }


    .galery-container {
        gap: 24px;
    }

    .galery-header h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .galery-header h3 {
        font-size: 14px;
        line-height: 20px;
    }

    .button-chips.cat {
        padding: 8px 14px;
    }

    .button-chips.cat label {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 535px) {

    .galery-container {
        padding-inline: 12px;
    }

    .product img {
        height: 105%;
        width: auto;
    }

    .product:hover img {
        height: 100%;
        width: auto;
    }
}