<div class="cart-container">
    <div class="cart-content">
        <div class="payment-details">
            <h2>Detalles de facturación</h2>
            <form [formGroup]="buyingForm" class="payment-form" (ngSubmit)="onSubmit()">
                <div class="form-pair">
                    <div class="input-container payment">
                        <label class="form-label">
                            Nombre*
                        </label>
                        <div class="input-content">
                            <input type="text" formControlName="name" placeholder="Introduce tu nombre">
                        </div>
                    </div>
                    <div class="input-container payment">
                        <label class="form-label">
                            Apellido
                        </label>
                        <div class="input-content">
                            <input type="text" formControlName="lastName" placeholder="Introduce tu nombre">
                        </div>
                    </div>
                </div>

                <div class="form-pair">
                    <div class="input-container payment">
                        <label class="form-label">
                            Correo electrónico
                        </label>
                        <div class="input-content">
                            <input type="email" placeholder="olivia@gmail.com" formControlName="email">
                        </div>
                    </div>
                    <div class="input-container payment">
                        <label class="form-label">
                            Teléfono
                        </label>
                        <div class="input-content">
                            <input type="number" placeholder="+53 000-0000" formControlName="phone">
                        </div>
                    </div>
                </div>
                <div class="checkbox-container" style="cursor: pointer;">
                    <div class="checkbox-circle" (click)="toggleDelivery()">
                        <input type="checkbox" [checked]="aditionalInfo" (change)="!aditionalInfo" id="adit-inf" />
                        <span></span>
                    </div>
                    <div>
                        <label for="adit-inf" style="cursor: pointer;">Envío a domicilio</label>
                        <p (click)="aditionalInfo = !aditionalInfo">El envío solo está disponible para la provincia de
                            La Habana.</p>
                    </div>
                </div>

                @if(aditionalInfo){
                <div class="aditional">
                    <div class="form-pair">
                        <div class="input-container" id="prov">
                            <label for="prov" class="form-label">
                                Provincia
                            </label>
                            <div class="input-content" (click)="provinceOpen =! provinceOpen">
                                <img [ngClass]="{'open': provinceOpen}" src="/assets/chevron-down.svg" alt="">
                                <span> {{buyingForm.get('province')?.value}}</span>
                            </div>
                            <div class="drop-down-menu" [@dropdownAnimation]="provinceOpen ? 'open': 'closed'">
                                @for (province of provincesArray; track $index) {
                                <div class="drop-down-item" (click)="selectProvince(province)">{{province}}</div>
                                }
                            </div>
                        </div>
                        <div class="input-container" id="prov">
                            <label for="prov" class="form-label">
                                Municipio
                            </label>
                            <div class="input-content" (click)="munIsOpen = !munIsOpen">
                                <img [ngClass]="{'open': munIsOpen}" src="/assets/chevron-down.svg" alt="">
                                <span>{{this.buyingForm.get('municipality')?.value === ""? ' Introduce tu municipio':
                                    this.buyingForm.get('municipality')?.value }}</span>
                            </div>
                            <div class="drop-down-menu" [@dropdownAnimation]="munIsOpen ? 'open': 'closed'">
                                @for (muni of currentProvinceMun; track $index) {
                                <div class="drop-down-item" (click)="selectMunicipality(muni)">{{muni}}</div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="input-container" id="address">
                        <label for="address">Dirección</label>
                        <div class="input-content">
                            <input formControlName="address" type="text" placeholder="Introduce tu dirección">
                        </div>
                    </div>

                    <div class="input-container" id="note">
                        <label for="note">Nota adicional</label>
                        <div class="input-content">
                            <textarea formControlName="note" type="text" maxlength="200"
                                placeholder="Escribe algún dato adicional"></textarea>
                        </div>
                        <span class="w-count"> {{buyingForm.get('note')?.value.length}}/200 </span>
                    </div>

                </div>
                }

                <div class="submit-container">
                    <p>Para adquirir <mark>nuestros productos</mark>, solo debe completar el <mark>formulario de
                            solicitud</mark>. Una vez
                        recibido el pedido, lo contactaremos a través de <mark>Whatsapp</mark> para ajustar os detalles
                        del <mark> método de
                            pago</mark> y le enviaremos un <mark>correo electrónico</mark> con la <mark>factura</mark>
                        correspondiente.
                        <br />
                        <br />
                        Su solicitud será procesada una vez confirmado el pago.
                    </p>
                    <button type="submit" class="button-base" [disabled]="!buyingForm.valid"><label>SOLICITAR
                            PEDIDO</label></button>
                </div>
            </form>
        </div>
        <div class="order-summary">
            <h2>Mi cesta ({{cartService.currentProducts().length}} productos)</h2>
            <div class="summary-content">
                @for (item of cartService.currentProducts(); track $index) {
                <div class="summary-item" [ngClass]="{'selected': isActive(item.id)}">
                    <div class="checkbox-circle" (click)="toggle(item.id)">
                        <input type="checkbox" [checked]="isActive(item.id)" (change)="toggle(item.id)" />
                        <span></span>
                    </div>
                    <div class="info-prod">
                        <div class="img" (click)="toggle(item.id)">
                            <img [src]="item.image" />
                        </div>
                        <div class="prod-details">

                            <div class="prod-txt" (click)="toggle(item.id)">
                                <h3>{{item.genericProd?.name}}</h3>
                                <h4 class="desc">{{item.genericProd?.subtitle}}</h4>
                                <p>{{(item.price)|currency}}</p>
                            </div>
                            <div class="count">
                                <button (click)="minus(item.id)">
                                    <img [src]="isMobile()? '/assets/minus-mobile.svg' :'/assets/minus.svg'"
                                        alt="minus">
                                </button>
                                <span class="prod-count">{{selected[item.id] || 0}}</span>
                                <button (click)="plus(item.id)">
                                    <img [src]="isMobile()? '/assets/plus-mobile.svg' :'/assets/plus.svg'" alt="plus">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                }
            </div>
            <div class="check">
                <div class="subtotal">
                    <h3>Subtotal</h3>
                    <h3>{{subTotalPrice() | currency}}</h3>
                </div>
                <div class="subtotal">
                    <h3>Transportación</h3>
                    <h3>{{ aditionalInfo? (deliveryPrice() | currency) : '--------' }}</h3>
                </div>
                <div class="total-price">
                    <div class="divider"></div>
                    <h2>Total</h2>
                    <h2>{{ deliveryPrice() + subTotalPrice() | currency }}</h2>
                </div>
            </div>
        </div>
    </div>