.cart-container {
    display: flex;
    justify-content: center;
    padding: 96px 80px 32px 80px;
    box-sizing: border-box;
}



.cart-content {
    display: flex;
    gap: 40px;
    width: 1280px;
}

.cart-content h2 {
    color: var(--Gray-900, #181D27);

    /* Display sm/Semibold */
    font-family: var(--montser-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin: 0px;
}

.payment-details {
    flex: 1 0 0;
}

.input-container {
    width: 100%;
}

textarea {
    border: none;
    outline: none;
    field-sizing: content;
    resize: none;
}

.w-count {
    color: var(--Gray-600, #535862);
    text-align: right;

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    text-align: right;
}

.aditional .input-content {
    cursor: pointer;
}


.check {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline: 24px;
    width: 100%;
    box-sizing: border-box;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subtotal h3 {
    color: var(--Gray-700, #414651);

    /* Text lg/Semibold */
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    margin: 0px;
}

.total-price {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 12px;
}

.divider {
    position: absolute;
    top: 0px;
    width: 100%;
    background: var(--Gray-200, #E9EAEB);
    height: 1px;
}

.total-price h2 {
    color: var(--Gray-700, #414651);

    /* Display xs/Semibold */
    font-family: var(--montser-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
    margin: 0px;
}

.aditional {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    width: 100%;

}

.form-pair {
    display: flex;
    gap: 20px;
    width: 100%;
}


.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.checkbox-container {
    display: flex;
    width: 100%;
    gap: 8px;
}

.checkbox-container input {
    width: auto;
}

.checkbox-container label {
    color: var(--Gray-700, #414651);

    /* Text sm/Medium */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.checkbox-container p {
    margin: 0px;
    color: var(--Gray-600, #535862);

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: var(--Gray-50, #FAFAFA);
}

.submit-container p {
    color: var(--Gray-600, #535862);
    text-align: center;

    /* Text lg/Regular */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    margin: 0px;
}

.submit-container mark {
    color: var(--Gray-600, #535862);

    /* Text lg/Semibold */
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    background-color: white;
}

.order-summary {
    width: 620px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    height: fit-content;
    border-radius: var(--Corner-Small, 8px);
    border: 1px solid #717680;
}

.summary-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block: 16px;
    width: 100%;
    box-sizing: border-box;
}


.summary-item {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-200, #E9EAEB);
    background: var(--White, #FFF);
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.summary-item.selected {
    border-radius: 8px;
    border: 1px solid var(--Brand-300, #98CDD2);
    background: var(--Brand-50, #F0FEFF);
}

.info-prod {
    display: flex;
    gap: 16px;
    align-items: center;
}

.prod-count {
    display: flex;
    align-items: center;
    justify-content: center;


    width: 40px;
    text-align: center;
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-inline: 1px solid var(--Gray-300, #D5D7DA);
    box-sizing: border-box;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 86px;
    overflow: hidden;
    border-radius: 4px;
}

.input-content img {
    transition: transform 0.3s ease;
}

.input-content img.open {
    transform: rotate(180deg);
}

.img img {
    object-fit: cover;
    height: 100%;
}

.checkbox {
    width: auto;
}

.prod-txt {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 0 0;
}

.prod-txt h3 {
    color: var(--Gray-700, #414651);
    margin: 0px;
    /* Text xl/Semibold */
    font-family: var(--montser-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.summary-item.selected .prod-txt h3 {
    margin: 0px;
    color: var(--Brand-700, #007981);

    /* Text xl/Semibold */
    font-family: var(--montser-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.prod-txt .desc {
    margin: 0px;
    color: var(--Gray-500, #717680);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.summary-item.selected .prod-txt .desc {
    margin: 0px;
    color: var(--Brand-600, #178C94);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.prod-txt p {
    color: var(--Gray-700, #414651);

    /* Text lg/Semibold */
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    margin: 0px;
}

.input-container {
    position: relative;
}



.count {
    box-sizing: border-box;
    display: flex;
    height: 40px;
    width: auto;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    overflow: hidden;
    background-color: white;
}

.drop-down-item {
    padding: 10px 14px;
    width: 100%;
    box-sizing: border-box;

    color: var(--Gray-900, #181D27);

    /* Text md/Medium */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    cursor: pointer;
}

.drop-down-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: calc(100% - 6px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--Gray-300, #D5D7DA);
    border-radius: 8px;
    background: var(--White, #FFF);
    /* Shadow/sm */
    box-shadow: 0 4px 6px -1px rgba(10, 13, 18, 0.1), 0 2px 4px -2px rgba(10, 13, 18, 0.06);
    overflow: auto;
}

.count button {
    background: none;
    border: none;
    width: 40px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-circle {
    display: flex;
    align-items: center;

}

.checkbox-circle input[type="checkbox"] {
    display: none;
}

.checkbox-circle span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);
}


.checkbox-circle input[type="checkbox"]:checked+span {
    background: var(--Brand-500, #00A3AD);
    border: 1px solid var(--Brand-500, #00A3AD);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6667 1L4.00004 8L1.33337 5.36364' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.prod-details {
    display: flex;
    gap: 16px;
    align-items: center;
}

@media (max-width: 1300px) {
    .cart-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 48px;
    }

    .payment-details {
        width: 650px;
    }
}

@media (max-width: 700px) {
    .order-summary h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin: 0px;
        /* 155.556% */
    }

    .prod-txt h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
    }

    .summary-item .prod-txt .desc {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 163.636% */
    }

    .summary-item.selected .prod-txt h3 {
        color: #007981;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }


    .summary-item.selected .prod-txt .desc {
        color: #007981;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .order-summary p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
    }

    .order-summary {
        width: 100%;
        padding: 24px 12px;
        margin: 0px;
        box-sizing: border-box;

    }

    .summary-item {
        width: 100%;
    }

    .prod-details {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .payment-details {
        width: 100%;
    }

    .form-pair {
        flex-direction: column;
        gap: 20px;
    }

    .count {
        height: 20px;
        border: 0.5px solid var(--Gray-300, #D5D7DA);
        border-radius: 4px;
        /* Shadow/xs */
        box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);

    }

    .count button {
        display: flex;
        width: 20px;
        padding: 5px;
        justify-content: center;
        align-items: center;


    }

    .prod-count {
        display: flex;
        padding: 4.5px 4px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 20px;
        font-size: 7px;
        font-style: normal;
        font-weight: 500;
        line-height: 10px;
        /* 142.857% */
    }

    .cart-container {
        padding: 32px 16px;
        ;
    }

    .payment-details h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* 150% */
    }

    .submit-container {
        padding: 24px 16px;
    }

    .submit-container p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
    }

    .submit-container mark {
        font-size: 14px;
        font-style: normal;
        line-height: 20px;
    }

    .subtotal h3 {
        font-size: 14px;
        line-height: 20px;
        margin: 0px;
    }

    .total-price h2 {
        font-size: 18px;
        line-height: 28px;
        margin: 0px;
    }
}