<div class="main">

    <header>
        <h2>Información personal</h2>
        <p>Actualiza tu foto y datos personales aquí.</p>
    </header>

    <div class="form-container">
        <form [formGroup]="editProfileForm">
            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Nombre*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('name')}">
                        <input type="text" formControlName="name" placeholder="Introduce tu nombre">
                    </div>
                    @if (!isValidForm('name')) {
                    <div class="error-msg">
                        Nombre requerido
                    </div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        Apellido
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('lastName')}">
                        <input type=" text" formControlName="lastName" placeholder="Introduce tu nombre">
                    </div>
                    @if (!isValidForm('lastName')) {
                    <div class="error-msg">
                        Nombre requerido
                    </div>
                    }
                </div>
            </div>


            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Correo electrónico*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('email')}">
                        <img src="/assets/mailGray.svg" />
                        <input type="text" formControlName="email" placeholder="olivia@gmail.com">
                    </div>
                    @if(!isValidForm('email')){
                    <div class="error-msg">
                        Formato de email icorrecto
                    </div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        Teléfono
                    </label>
                    <div class="input-content">
                        <input type="number" formControlName="phone" placeholder="+53 0000-0000">
                    </div>
                </div>
            </div>


            <div class="profile-img">
                <div class="avatar">
                    <img [src]="imagePreview" alt="">
                </div>
                <div class="drag-n-drop-cont" (click)="onFilesSelected($event)" (dragleave)="onDragLeave($event)"
                    (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                    <div class="dnd-icon">
                        <img src="assets/upload-cloud.svg" alt="">
                    </div>
                    <input type="file" #fileInput style="display: none;" (change)="onFileChange($event)" id="">
                    <div class="dnd-txt">
                        <p><span>Haga clic para cargar</span> o arrastrar y soltar</p>
                        <p>SVG, PNG, JPG or GIF (max. 800x400px)</p>
                    </div>
                    <div class="progress-bar" [style.width.%]="progress">
                    </div>
                </div>
            </div>

            <div class="actions">
                <div class="divider"></div>

                <button class="button-base" (click)="onSubmit()">
                    <span>
                        Guradar
                    </span>
                </button>

                <button class="button-chips" (click)="onClose()">
                    <span>Cancelar</span>
                </button>

            </div>
        </form>
    </div>

</div>