.main {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 12px;
    background: var(--White, #FFF);

    /* Shadow/sm */
    box-shadow: 0 1px 3px 0 rgb(10, 13, 18), 0 1px 2px 0 rgb(10, 13, 18);
}


.form-pair {
    display: flex;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0px;
}

header h2 {
    color: var(--Gray-900, #181D27);

    /* Display sm/Semibold */
    font-family: var(--montser-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    /* 126.667% */
    margin: 0px;
}

header p {
    color: var(--Gray-600, #535862);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 6px;
}

.form-p {
    color: var(--Gray-600, #535862);

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

footer p {
    color: var(--Gray-600, #535862);

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
}

footer a {
    color: var(--Brand-700, #007981);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
    cursor: pointer;
}

.profile-img {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.avatar {
    display: flex;
    width: 64px;
    height: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 200px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.drag-n-drop-cont {
    display: flex;
    position: relative;
    padding: 16px 24px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-200, #E9EAEB);
    background: var(--White, #FFF);
}
.progress-bar{
    position: absolute;
    bottom: 0px;
    width: 0%;
    left: 0px;
    height: 4px;
    background-color: var(--Brand-700, #007981);
    border-radius: 0 0 8px 8px;
    transition: width 0.3s ease;
}

.dnd-icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    box-sizing: border-box;
    border: 6px solid var(--Gray-50, #FAFAFA);
    background: var(--Gray-100, #F5F5F5);
}

.dnd-txt p {
    color: var(--Gray-600, #535862);

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
}

.dnd-txt p span {
    color: var(--Brand-700, #007981);
    font-weight: 600;
}

.actions {
    position: relative;
    display: flex;
    padding: 16px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.actions button {
    padding-block: 10px;
}

.divider {
    height: 1px;
    align-self: stretch;
    background: var(--Gray-200, #E9EAEB);
    position: absolute;
    top: 0px;
    left: -24px;
    width: calc(100% + 48px);
}

@media (max-width: 670px) {
    .form-pair {
        display: flex;
        flex-direction: column;
    }

    .signup-form-container {
        width: auto;
    }

    header h2 {
        font-size: 24px;
        line-height: 32px;
    }
}