<div class="main">
    @if (loading) {
    <div class="loader-wrapper">
        <app-box-loader></app-box-loader>
    </div>
    }
    <header>
        <h2>Información personal</h2>
        <p>Actualiza tu foto y datos personales aquí.</p>
    </header>

    <div class="form-container">
        @if(editProfileForm){
        <form [formGroup]="editProfileForm" (submit)="onSubmit()" (reset)="onClose()">
            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Nombre*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('name')}">
                        <input type="text" formControlName="name" placeholder="Introduce tu nombre">
                    </div>
                    @if (!isValidForm('name')) {
                    <div class="error-msg">
                        Nombre requerido
                    </div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        Apellido
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('lastName')}">
                        <input type=" text" formControlName="lastName" placeholder="Introduce tu nombre">
                    </div>
                    @if (!isValidForm('lastName')) {
                    <div class="error-msg">
                        Nombre requerido
                    </div>
                    }
                </div>
            </div>


            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Correo electrónico*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('email')}">
                        <img src="/assets/mailGray.svg" />
                        <input type="text" formControlName="email" placeholder="olivia@gmail.com">
                    </div>
                    @if(!isValidForm('email')){
                    <div class="error-msg">
                        Formato de email icorrecto
                    </div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        Teléfono
                    </label>
                    <div class="input-content">
                        <div class="region-code">
                            <div class="drop" (click)="openDropdown = !openDropdown">
                                <span>{{regionCodes[selectedRegionCode].country}}</span>
                                <img src="/assets/chevron-down.svg" />
                                <div class="dropdown-region" [ngClass]="{'open': openDropdown}">
                                    @for (code of regionCodes; track $index) {
                                    <div class="dropdown-item"
                                        (click)="$event.stopPropagation(); onSelectRegionCode($index);">
                                        <span>{{code.country}}</span>
                                    </div>
                                    }
                                </div>
                            </div>
                            <span class="code">{{regionCodes[selectedRegionCode].code}}</span>
                        </div>

                        <input type="number" formControlName="phone" placeholder="0000-0000">
                    </div>
                </div>
            </div>


            <div class="profile-img">
                <div class="avatar">
                    <img [src]="imagePreview" alt="">
                </div>
                <div class="drag-n-drop-cont" (click)="onFilesSelected($event)" (dragleave)="onDragLeave($event)"
                    (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                    <div class="dnd-icon">
                        <img src="assets/upload-cloud.svg" alt="">
                    </div>
                    <input type="file" #fileInput style="display: none;" accept=".JPG, .PNG,.SVG"
                        (change)="onFileChange($event)" id="">
                    <div class="dnd-txt">
                        <p><span>Haga clic para cargar</span> o arrastrar y soltar</p>
                        <p>SVG, PNG o JPG (max. 5MB)</p>
                    </div>
                    <div class="progress-bar" [style.width.%]="progress">
                    </div>
                </div>
            </div>

            <div class="actions">
                <div class="divider"></div>

                <button class="button-base" type="submit" [disabled]="!editProfileForm.valid || loading">
                    <span>
                        Guradar
                    </span>
                </button>

                <button class="button-chips" type="reset">
                    <span>Cancelar</span>
                </button>

            </div>
        </form>}
    </div>

</div>