.main-login {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
}


.img-container {
    height: 100%;
    width: 43%;
    min-width: 500px;
    overflow: hidden;
    position: relative;
    transition: transform 1s ease;
}


.img-container img {
    margin-top: -50px;
    margin-left: -50px;
    height: 1180px;
    width: 1180px;
}

.login-section {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: space-between;
    padding-inline: 32px;
    box-sizing: border-box;
    align-items: center;
    transition: transform 1s ease;
}

.img-container.register {

    transform: translateX(calc(100vw - 100%));
}

.login-section.register {
    transform: translateX(calc(-1 * (100vw - 100%)));
}


header {
    padding-block: 32px;
    justify-content: start;
    width: 100%;
}


footer {
    padding-block: 36px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer p, .mail {
    color: var(--Gray-600, #535862);

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
    text-decoration: none;
}


@media (max-width: 1220px) {
    .img-container {
        display: none;
    }

    .login-section {
        width: 100%;
        padding-inline: 16px;
    }

    .login-section.register {
        transform: translateX(0);
    }

    .img-container.register {
        transform: translateX(0);
    }
}
@media(max-width: 600px){
    .log-footer{
        display: none;
    }
    .main-login{
        padding-bottom: 48px;
        flex: 1;
    }
    .login-section{
        justify-content: initial;
        gap: 64px;
    }
    
}