.navigation-bar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--Gray-100, #F5F5F5);
  background: var(--Gray-50, #FAFAFA);
  gap: 20px;
  padding-inline: 113px;
  padding-block: 20px;
  box-sizing: border-box;

}

.edit-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.user-info {
  gap: 12px;
  display: flex;
}

.user-info .button-chips {
  position: relative;
}

.user-info .button-chips label {
  width: 24px;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  background-color: #178C94;
  color: white;
  text-align: center;
}

.user-info.mobile {
  width: 100%;
}

.user-name {
  margin: 0px;
}

.user-email {
  margin: 0px;
}

.user-data {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;
}

.user-data::-webkit-scrollbar {
  display: none;
}


.nav-container {
  position: relative;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.menu-button {
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  color: var(--Gray-600, #535862);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  font-family: var(--montser-font);
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

.mobile-panel a {
  color: var(--Gray-600, #535862);
  font-family: var(--montser-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.nav-links a.active {
  color: #007981;
}

.nav-links a.active {
  color: #007981;
}

.nav-links a.active {
  color: #007981;
}

.nav-links a.active {
  color: #007981;
}

.Katauro-logo {
  margin-right: 12px;
  cursor: pointer;
}

.button-base.login {
  padding: 10px 18px;
}

.mobile-panel {
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0px;
  background: var(--Gray-50, #FAFAFA);
  display: none;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 24px 16px 24px 16px;
  gap: 32px;
  transition: transform 0.5s ease;
}

.mobile-panel.open {
  transform: translateY(100%);
}

.footer {
  width: 100%;
  display: grid;
  height: auto;
  background: var(--Gray-200, #E9EAEB);
  overflow: hidden;
  position: relative;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(350px, 392px) minmax(0, 120px) minmax(324px, auto) minmax(0, 57px) minmax(324px, auto);
  grid-template-rows: 330px auto;
  padding-inline: 80px;
  padding-block: 66px 46px;
  box-sizing: border-box;
  z-index: 1;
}

.contact-wu {
  gap: 20px;
  grid-column: 1;
  grid-row: 1;
}

.shop-info {
  grid-column: 3;
  grid-row: 1;
  box-sizing: border-box;
  padding-left: 40px;
  position: relative;
}

.footer-content header {
  color: var(--Gray-900, #181D27);
  font-family: var(--montser-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 24px;

}

.contact-text {
  color: var(--Gray-900, #181D27);

  /* Text sm/Regular */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 392px;
}

.contact-info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  height: 44px;
  width: 100%;
}

.footer-text-green {
  color: var(--Brand-600, #178C94);

  /* Text md/Regular */
  font-family: var(--montser-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.footer-text-black {
  color: var(--Black, #000);

  /* Text md/Semibold */
  font-family: var(--montser-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.factory-info {
  grid-column: 5;
  grid-row: 1;
  position: relative;
  padding-left: 40px;
  box-sizing: border-box;
}

.social-media {
  grid-row: 2;
  grid-column: 1/7;
  position: relative;
  margin-top: 64px;
  padding-top: 32px;
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
}


.divider {
  height: 1px;
  align-self: stretch;
  width: 100%;
  background: var(--Gray-25, #FDFDFD);
  position: absolute;
  top: 0;
}

.footer-links {
  color: var(--Gray-500, #717680);

  /* Text md/Regular */
  font-family: var(--montser-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  flex: 1 0 0;

  /* 150% */
}

.artboard {
  position: absolute;
  right: -224px;
  top: -182px;
  flex-shrink: 0;
}

.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}


.panelWrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.clientPanel {
  transition: transform 0.5s ease, opacity 0.5s ease;
  top: 16px;
  right: 50px;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--Gray-200, #E9EAEB);
  background: var(--White, #FFF);

  /* Shadow/lg */
  box-shadow: 0 12px 16px -4px rgba(10, 13, 18, 0.08), 0 4px 6px -2px rgba(10, 13, 18, 0.03);
}

.clientPanel.open {

  opacity: 1;

}

.clientPanel.closed {
  opacity: 0;
  transform: scale(0.5);
}

.clientPanel div {
  box-sizing: border-box;
}

.user-panel-data {
  position: relative;
  padding: 12px 16px;
  display: flex;
  width: 100%;
  gap: 12px
}

.divider {
  position: absolute;
  top: 0px;
  height: 1px;
  align-self: stretch;
  background: var(--Gray-200, #E9EAEB);
  left: 0px;
}

.user-button {
  height: 40px;
  width: 40px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}

.user-button img,
.user-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-panel-data label {
  color: var(--Gray-700, #414651);

  /* Text sm/Medium */
  font-family: var(--montser-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.map-pin {
  position: absolute;
  top: 0;
  left: 0;
}

.phone {
  position: absolute;
  left: 0px;
  margin-top: 25px;
}

.mail {
  position: absolute;
  left: 0;
  margin-top: 27px;
}

.contact-wu .input-content {
  flex: 1;
}

@media (max-width: 1100px) {
  .navigation-bar {
    padding-inline: 50px;
  }

  .footer-content {
    padding-inline: 50px;
    grid-template-columns: minmax(350px, 392px) minmax(0, 120px) minmax(324px, auto);
    grid-template-rows: 330px 330px auto;

  }

  .shop-info {
    grid-column: 1;
    grid-row: 2;
  }

  .factory-info {
    grid-column: 3;
    grid-row: 2;
  }

  .social-media {
    grid-row: 3;
    grid-column: 1/4;
  }


}


@media (max-width: 800px) {
  .nav-links a {
    display: none;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-inline: 16px;
  }

  .contact-wu {
    height: 371px;
  }

  .social-media {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding-top: 24px;
  }

  .terms {
    order: 0;
  }

  .social-links {
    order: 1;
  }

  .footer-links.copyright {
    order: 2;
  }

  .menu-button {
    display: initial;
  }

  .user-info {
    display: none;
  }

  .user-info.mobile {
    display: flex;
  }

  .button-base.login {
    display: none;
  }

  .mobile-panel {
    display: flex;
  }
}

@media(max-width: 600px) {
  .navigation-bar {
    padding: 16px;
    box-sizing: border-box;
  }

  .shop-info header,
  .factory-info header {
    font-size: 18px;
    line-height: 28px;
  }

  .shop-info img,
  .factory-info img {
    height: 18px;
  }

  .map-pin {
    top: 5px;
  }

  .phone,
  .mail {
    margin-top: 30px;
  }

  .footer-text-green {
    margin-top: 4px;
  }



}

@media (max-width: 380px) {


  .footer-content {
    padding: 24px 16px 16px 16px;

  }

  .shop-info,
  .contact-info,
  .factory-info {
    padding-left: 30px;
  }

  .contact-info {
    padding-left: 0px;
  }
}