<div class="dashboard"
  style="box-sizing: border-box; min-height: 100svh; padding-top: 80px; display: flex; flex-direction: column;">

  <div class="nav-container">

    <div class="navigation-bar">
      <div class="nav-links">
        <img class="Katauro-logo" src="/assets/Katauro.svg" />

        <a [routerLink]= "['/dashboard/home']" [ngClass]="{'active': isActive('/dashboard/home')}">Inicio</a>
        <a [routerLink]="['/dashboard/team']" [ngClass]="{'active': isActive('/dashboard/team')}">Nuestro
          equipo</a>
        <a [routerLink]="['/dashboard/galery']"
          [ngClass]="{'active': isActive('/dashboard/galery')}">Luminarias</a>
        <a [routerLink]="['/dashboard/blog']" [ngClass]="{'active': isActive('/dashboard/blog')}">Blog</a>
      </div>
      @if(!isMobile()){
      @if(!isLogged()){

      <button class="button-base login" id="log" (click)="router.navigate(['/login/signin'])">
        <label for="log">Iniciar sesión</label>
      </button>
      }@else {

      <div class="user-info">
        <button class="user-button">
          <img src="" alt="">
        </button>
        <button class="button-chips" style="padding-inline: 10px;" (click)="router.navigate(['/dashboard/cart'])">
          <label>{{cartService.currentProducts().length}}</label>
          <img src="/assets/shopping-bag.svg" />
        </button>
      </div>
      }
      }
      @else {
      @if (!menuIsOpen) {
      <img class="manu-button" src="/assets/menu.svg" alt="menu" (click)="toggleMenu()">
      }
      @else {
      <img class="manu-button" src="/assets/menu_open.svg" (click)="toggleMenu()" />
      }
      }
    </div>
    @if (isMobile()) {

    <div class="mobile-panel" [ngClass]="{'open': menuIsOpen}">
      <a (click)="navigateMobile('/dashboard/home')" [ngClass]="{'active': isActive('/dashboard/home')}">Inicio</a>
      <a (click)="navigateMobile('/dashboard/team')" [ngClass]="{'active': isActive('/dashboard/team')}">Nuestro
        equipo</a>
      <a (click)="navigateMobile('/dashboard/galery')"
        [ngClass]="{'active': isActive('/dashboard/galery')}">Luminarias</a>
      <a (click)="navigateMobile('/dashboard/blog')" [ngClass]="{'active': isActive('/dashboard/blog')}">Blog</a>
      <button class="button-base login" [ngStyle]="{'display': isLogged() ? 'none': 'flex'}" id="log"
        (click)="router.navigate(['/login/signin'])">
        <label for="log">Iniciar sesión</label>
      </button>
      @if (isLogged()) {

      <div class="user-info mobile">
        <button class="user-button">
          <img src="" alt="">
        </button>
        <div class="user-data">
          <p class="user-name">{{currentUser?.name}}</p>
          <p class="user-email">{{currentUser?.email}}</p>
        </div>
        <img src="/assets/log-out.svg" (click)="logout()" />
        <button class="button-chips" style="padding-inline: 10px;" (click)="navigateMobile('/dashboard/cart')">
          <img src="/assets/shopping-bag.svg" />
        </button>
      </div>
      }
    </div>
    }
  </div>


  <div class="router-content" style="
  display: flex; 
  flex: 1; 
  flex-direction: column; 
  min-height: 0;">
    <router-outlet />
  </div>

  <div class="footer">
    <div class="footer-content">
      <div class="contact-wu">

        <img style="display: block; width: 160px; height: 47px;" src="/assets/Katauro.svg" alt="Katauro Logo" />

        <img style="margin-top: 12px;" src="/assets/Ideas_con_luz.svg" alt="Ideas_con_luz">

        <header class="contact-header">
          ¡Comunícate con nosotros!
        </header>
        <p class="contact-text">
          Envíanos sus comentarios, preguntas o inquietudes. Estaremos encantados de atenderle y ponernos en contacto
          con usted.
        </p>
        <div class="contact-info">
          <div class="input-content">
            <input type="text" placeholder="Escríbenos un mensaje">
          </div>
          <button style="height: 44px; width: 88px;;" class="button-base contact-button">
            <label>Enviar</label>
          </button>
        </div>


      </div>
      <div class="shop-info">
        <img style="position:absolute; top: 0; left: 0;" src="/assets/map-pin.svg" alt="Map-pin">
        <header style="margin: 0;" class="shop-header">
          Tienda
        </header>
        <p style="margin-top: 8px;" class="footer-text-green shop-text">
          Mira nuestros productos disponibles.
        </p>

        <p style="margin-top: 20;" class="footer-text-black">
          100 Smith Street Collingwood VIC 3066 AU
        </p>

        <img style="position: absolute; left: 0px; margin-top: 25px;" src="/assets/phone.svg" alt="Phone">

        <header style="margin-top: 40px;" class="shop-header">
          Teléfono
        </header>
        <p style="margin-top: 8px;" class="footer-text-green shop-text">
          Lunes-Viernes de 8 am a 5 pm.
        </p>
        <p style="margin-top: 20px;" class="footer-text-black">
          +1 (555) 000-0000
        </p>

      </div>
      <div class="factory-info">
        <img style="position: absolute; top: 0; left: 0;" src="/assets/map-pin.svg" alt="map-pin">
        <header style="margin: 0;" class="factory-header">
          Fábrica
        </header>

        <p style="margin-top: 8px;" class="footer-text-green factory-text">
          Conoce más sobre nuestro proceso de producción.
        </p>

        <p style="margin-top: 20px;" class="footer-text-black">
          100 Smith Street Collingwood VIC 3066 AU
        </p>

        <img style="position: absolute; left: 0; margin-top: 27px;" src="/assets/mail.svg" alt="mail">
        <header style="margin-top: 40px;" class="factory-header">Gmail</header>
        <p style="margin-top: 8px;" class="footer-text-green factory-text">
          Escríbenos tus dudas e inquietudes.
        </p>
        <p style="margin-top: 20px;" class="footer-text-black">
          hi&#64;untitledui.com
        </p>
      </div>

      <div class="social-media">
        <div class="divider"></div>
        <div class="social-links">
          <img src="/assets/whatsapp.svg" alt="WhatsApp">
          <img src="/assets/facebook.svg" alt="Facebook">
          <img src="/assets/instagram.svg" alt="Instagram">
        </div>

        <a class="terms" style="text-decoration: none;" href="https://wa.me/1234567890" target="_blank">
          <label style="position: unset; left: auto;" class="footer-links terms">
            Términos y condiciones
          </label>
        </a>

        <label class="footer-links copyright">
          © 2025 Katauro. Todos los derechos reservados.
        </label>


      </div>

    </div>
    <img class="artboard" src="/assets/Artboard_11.svg" alt="Artboard_11">
  </div>

</div>