.home-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-inline: 80px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 96px;
    margin-top: 120px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

h2 {
    color: var(--Brand-900, #175659);
    text-align: center;

    /* Display lg/Semibold */
    font-family: var(--montser-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin: 0px;
    /* 125% */
    letter-spacing: -0.96px;
}

.header-p {
    color: var(--Brand-700, #007981);
    text-align: center;

    /* Text xl/Regular */
    font-family: var(--montser-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    margin: 0px;
}


@media (min-width: 1370px) {
    .luminarias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



.offers-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.luminarias-list {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    gap: 24px;
    scroll-behavior: unset;
    list-style-type: none;
    margin-top: 64px;
    padding: 0px;
    justify-content: space-between;
    overflow-x: auto;
}



.luminarias-list::-webkit-scrollbar {
    display: none;
}

.luminarias-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 440px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.luminarias-list li img {
    position: absolute;
    width: 110%;
    height: 110%;
    transition: width 0.5s ease, height 0.5s ease;
}

.luminarias-list li:hover img {
    width: 100%;
    height: 100%;
}

.featured-gradiant {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.10) 53.37%, rgba(0, 0, 0, 0.40) 100%);
}

.offer-gradient {
    position: absolute;

    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 29.01%, rgba(0, 0, 0, 0.30) 96.93%);
}

.luminaria-title {
    position: absolute;
    z-index: 2;
    color: var(--White, #FFF);
    text-align: center;

    /* Display xs/Bold */
    font-family: var(--montser-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 254px;
    margin: 0px;
}

.info-container-featured {
    position: absolute;
    width: 100%;
    padding: 60px 40px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
}

.offers-grid {
    display: grid;
    grid-template-columns: 434px 24px 256px 24px 256px 24px 256px;
    grid-template-rows: 312px 312px;
    row-gap: 24px;
    overflow: hidden;
    width: auto;
}

.offers-grid .offer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.offers-grid div img {
    position: absolute;
    height: 110%;
    min-width: 110%;
    transition: width 0.5s ease, height 0.5s ease, min-width 0.5s ease, min-height 0.5s ease;
}


.offers-grid div:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
}

.offers-grid .offer:hover img {
    height: 100%;
    min-width: 100%;

}

.offers-grid div:nth-child(2) {
    grid-row: 1;
    grid-column: 3;

}


.offers-grid div:nth-child(3) {
    grid-row: 1;
    grid-column: 5;
}

.offers-grid div:nth-child(4) {
    grid-row: 1;
    grid-column: 7;
}


.offers-grid div:nth-child(5) {
    grid-row: 2;
    grid-column: 3;
}


.offers-grid div:nth-child(6) {
    grid-row: 2;
    grid-column: 5;
}


.offers-grid div:nth-child(7) {
    grid-row: 2;
    grid-column: 7;
}

.offer-info-container {
    position: absolute;
    display: flex;
    padding: 20px 32px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column-reverse;
}

.offer-info {
    display: flex;
    flex-direction: column;

    gap: 12px;
    width: 345px;
    height: auto;
    box-sizing: border-box;
}

.cat-gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 53.37%, rgba(0, 0, 0, 0.00) 100%);
}

.offer-info .lum-name {
    color: var(--White, #FFF);
    font-family: var(--montser-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin: 0px;

    display: -webkit-box;
    display: box;

    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-info .luminaria-sub {
    color: var(--White, #FFF);
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    margin: 0px;
}

.offer-info.non-first {
    width: 208px;
    height: auto;
}

.offer-info.non-first h3 {
    font-size: 24px;
    line-height: 32px;
}

.offer-info.non-first p {
    font-size: 16px;
    line-height: 24px;
}





.luminarias.featured {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;

}

.featured-content {
    display: grid;
    grid-template-columns: 608px 608px;
    grid-template-rows: 307px 307px;
    gap: 24px;
    overflow: hidden;
}

.featured-product {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    box-sizing: border-box;

}

.featured-product img {
    position: absolute;
    z-index: -1;
    width: 105%;
    min-height: 105%;
    transition: width 0.5s ease, height 0.5s ease, min-width 0.5s ease, min-height 0.5s ease;
}

.featured-content :nth-child(1) {
    grid-row: 1/3;
    grid-column: 1;
}

.featured-content :nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.featured-content :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}





.featured-product:hover img {
    width: 100%;
    min-height: 100%;
}

.info-contet {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;

}


.info-contet p {
    color: var(--White, #FFF);

    /* Text xl/Medium */
    font-family: var(--montser-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0px;
}

.info-contet h2 {
    color: var(--White, #FFF);

    /* Display md/Semibold */
    font-family: var(--montser-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
    margin: 12px 0px 32px 0px;
    text-align: left;
}

.info-contet button {
    width: 122px;
}


.spin-container {
    position: fixed;
    top: 0;
    height: 100svh;
    width: 100vw;
    z-index: 999;
    background-color: #181D27;
    opacity: 0.4;
}



.recent-posts-container {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 80px;
    padding-bottom: 96px;
    box-sizing: border-box;
}

.recent-posts-h2 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 32px;
}

.recent-posts {
    width: auto;
    overflow: hidden;
    margin-top: 120px;
}

.post-container {
    display: grid;
    gap: 32px;
    grid-template-columns: 624px 624px;
    grid-template-rows: 253px 253px;
}



.post {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.post-container :nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;


}

.post-container :nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}


.post-container :nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.info-post {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.post.row {
    flex-direction: row;
    gap: 24px;
}


.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 335px;
    width: 624px;
    overflow: hidden;
    border-radius: 8px;
}

.post.row div.post-img {
    height: 100%;
    width: 320px;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.recent-posts h3 {
    color: var(--Gray-900, #181D27);
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 0px;
}

.recent-posts h4 {
    color: var(--Brand-700, #007981);
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0px;
}

.recent-posts p {
    overflow: hidden;
    color: var(--Gray-600, #535862);
    text-overflow: ellipsis;
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}





@media (max-width: 1450px) {
    .offers-grid {
        grid-template-columns: 256px minmax(24px, auto) 256px minmax(24px, auto) 256px;
        grid-template-rows: 312px 312px 312px 312px;

    }

    .offers-grid div:nth-child(1) {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .offers-grid div:nth-child(2) {
        grid-row: 3;
        grid-column: 1;

    }

    .offers-grid div:nth-child(4) {
        grid-row: 3;
        grid-column: 3;
    }


    .offers-grid div:nth-child(5) {
        grid-row: 4;
        grid-column: 1;
    }

    .offers-grid div:nth-child(7) {
        grid-row: 4;
        grid-column: 3;
    }




    .home-container {
        padding-inline: 60px;
    }

    .featured-content {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 270px 270px;
        gap: 24px;
        overflow: hidden;
    }



}

@media(max-width: 1300px) {
    .post-container :nth-child(1) {
        grid-column: 1;
        grid-row: 1/3;


    }

    .post-container {
        display: grid;
        gap: 32px;
        grid-template-columns: 500px 500px;
        grid-template-rows: 200px 200px;
    }

    .post-container :nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }


    .post-container :nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .post-img {
        width: 100%;
    }
}




@media screen and (max-width: 1160px) {

    .home-container {
        padding-inline: 30px;
    }

    .post-container {
        display: flex;
        gap: 32px;
        flex-direction: column;

    }


    .post.row {
        flex-direction: column;
        gap: 32px;
    }

    .post-img {
        height: 200px;
        width: 100%;
    }

    .post.row div.post-img {
        height: 200px;
        width: 100%;
    }

    .featured-content {
        display: grid;
        grid-template-columns: 608px;
        grid-template-rows: 600px 600px 600px;
        gap: 24px;
    }

    .featured-content :nth-child(1) {
        grid-row: 1;
        grid-column: 1;
    }

    .featured-content :nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }

    .featured-content :nth-child(3) {
        grid-row: 3;
        grid-column: 1;
    }
}


@media (max-width: 900px) {
    .offers-grid {
        grid-template-columns: 183px minmax(12px, auto) 183px minmax(12px, auto) 183px;
        grid-template-rows: 265px 265px 265px 265px;
        row-gap: 12px;
    }
}

@media (max-width: 700px) {

    .offers-grid {
        grid-template-columns: 183px minmax(8px, auto) 183px;
        grid-template-rows: 265px 265px 223px 223px 223px;
    }

    .offers-grid div:nth-child(3) {
        grid-row: 5;
        grid-column: 1;
    }

    .offers-grid div:nth-child(6) {
        grid-row: 5;
        grid-column: 3;
    }

    .home-container {
        padding-inline: 32px;
        gap: 64px;
        margin-top: 64px;
    }

    .offer-info {
        width: 100%;
        padding: 0px;
    }

    .offer-info.non-first {
        gap: 10px;
        width: 100%;
        padding: 0px;
        height: auto;
    }

    .offer-info.non-first h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .offer-info.non-first p {
        font-size: 12px;
        line-height: 18px;
    }

    .offer-info-container {
        padding: 17.281px 27.65px;
    }

    .offer-info-container.non-first {
        padding: 14.313px 12px;
    }

    .featured-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .header {
        padding-inline: 32px;
    }

    .header-p {
        font-size: 14px;
        line-height: 20px;
    }

    .featured-content div:nth-child(1),
    .featured-content div:nth-child(2),
    .featured-content div:nth-child(3) {
        width: 351px;
        height: 307px;
    }

    .recent-posts-container {
        padding: 12px;
        width: auto;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .post {
        width: 375px;
        height: auto;
    }

    .luminarias-list {
        padding-inline: 12px;
    }

    .recent-posts {
        margin-top: 64px;
    }

    .recent-posts header h2 {
        font-size: 24px;
    }

    .home-container {
        padding-inline: 0px;
    }


    .info-contet p {
        font-size: 12px;

        line-height: 18px;

    }

    .info-contet h2 {


        /* Display md/Semibold */

        font-size: 24px;

        line-height: 32px;

    }

    .post-img {
        display: flex;
        height: 200px;
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 380px) {

    .featured-content {
        width: 100%;

    }

    .luminarias.featured {
        padding-inline: 12px;
    }

    .featured-content div:nth-child(1),
    .featured-content div:nth-child(2),
    .featured-content div:nth-child(3) {
        width: 100%;
        height: 307px;
    }

    .recient-posts-container {
        padding-inline: 0px;
    }



    .post-container div:nth-child(1),
    .post-container div:nth-child(2),
    .post-container div:nth-child(3) {
        width: 100%;
        height: auto;
    }

    .offer-info {
        height: auto;
        gap: 8px;
    }

    .offers-grid {
        grid-template-columns: minmax(100px, auto) 8px minmax(100px, auto);
        grid-template-rows: 265px 265px 223px 223px 223px;
        width: 100%;
        box-sizing: border-box;
    }

    .offers-grid-container {
        align-items: start;
        justify-content: start;
        padding-inline: 12px;
        box-sizing: border-box;
    }
}

@media (max-width: 340px) {}