@if(!correctLoaded){
<div class="chargin-bar-container">
    <div class="chargin-bar"></div>
</div>
}
<div style="background-color: white;">
    @if (!correctLoaded) {
    <div class="car-cont">
        <app-skeleton-loader class="sk" [type]="2" class="sk"></app-skeleton-loader>
    </div>
    }
    @else {
    <app-corousel [data]="carousel1" />
    }
    <div class="home-container">

        <div class="luminarias">
            <header class="header">
                <h2>Conoce nuestras luminarias disponibles</h2>
                <p class="header-p">Aquí podrás encontrar nuestras lámparas de techo, mesa, pared y piso disponibles.
                </p>
            </header>
            <ul class="luminarias-list">
                <li style="position: relative;" (click)="navigateCat(catEnum.tableLumin)">
                    <div class="cat-gradient"></div>
                    <img src="/assets/cat_image.png" alt="Lámpara de mesa">
                    <p class="luminaria-title">LUMINARIAS DE MESA</p>
                </li>
                <li style="position: relative;" (click)="navigateCat(catEnum.wallLumin)">
                    <div class="cat-gradient"></div>
                    <img src="/assets/cat_image1.png" alt="Lámpara de pared">
                    <p class="luminaria-title">LUMINARIAS DE PARED</p>
                </li>
                <li style="position: relative;" (click)="navigateCat(catEnum.footLumin)">
                    <div class="cat-gradient"></div>
                    <img src="/assets/cat_image2.png" alt="Lámpara de piso">
                    <p class="luminaria-title">LUMINARIAS DE PIE</p>
                </li>
                <li style="position: relative;" (click)="navigateCat(catEnum.roofLumin)">
                    <div class="cat-gradient"></div>
                    <img src="/assets/cat_image3.png" alt="Lámpara de techo">
                    <p class="luminaria-title">LUMINARIAS DE TECHO</p>
                </li>
            </ul>

        </div>
        @if (correctLoaded) {
        <app-corousel [data]="carousel2"></app-corousel>
        }@else {
        <div class="car2-cont">
            <app-skeleton-loader class="sk" [type]="3" class="sk"></app-skeleton-loader>
        </div>
        }


        <div class="offers-grid-container">
            <div class="offers-grid">
                @for (i of [0,1,2,3,4,5,6]; track $index) {
                @if (correctLoaded) {
                <div class="offer" (click)="navigateToProduct(mostRated[i].category.nombre, mostRated[i].id)">
                    <img src="{{mostRated[i].variants[0].image}}" />
                    <div class="offer-gradient"></div>
                    <div class="offer-info-container" [ngClass]="{'non-first': i != 0}">
                        <div class="offer-info" [ngClass]="{'non-first': i != 0}">
                            <h3 class="lum-name">{{mostRated[i].name}}</h3>
                            <p class="luminaria-sub">{{ mostRated[i].subtitle }}</p>
                        </div>
                    </div>
                </div>
                } @else {
                <div class="offer">
                    <app-skeleton-loader [type]="1" class="sk"></app-skeleton-loader>
                </div>
                }
                }
            </div>
        </div>



        <div class="luminarias featured">
            <header style="gap: 20px; display: block;">
                <h2>Luminarias destacadas</h2>
                <p class="header-p">Aprecia nuestras lámparas de diseño propio más relevantes.</p>
            </header>
            <div class="featured-content">
                @if(correctLoaded){
                <div class="featured-product"
                    (click)="navigateToProduct(mostRated[0].category.nombre, mostRated[0].id)">
                    <img [src]="mostRated[0].variants[0].image" alt="">
                    <div class="featured-gradiant"></div>
                    <div class="info-container-featured first">
                        <div class="info-contet">
                            <p class="card-info">{{mostRated[0].subtitle}}</p>
                            <h2 class="car-text">{{mostRated[0].name}}</h2>
                            <button class="button-chips"
                                (click)="$event.stopPropagation();toOwn(mostRated[0].variants[0])">
                                <label>Adquirir</label>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="featured-product"
                    (click)="navigateToProduct(mostRated[1].category.nombre, mostRated[1].id)">
                    <img [src]="mostRated[1].variants[0].image" alt="">
                    <div class="featured-gradiant"></div>
                    <div class="info-container-featured">

                        <div class="info-contet">
                            <p class="card-info">{{mostRated[1].subtitle}}</p>
                            <h2 class="car-text">{{mostRated[1].name}}</h2>
                            <button class="button-chips"
                                (click)="$event.stopPropagation();toOwn(mostRated[1].variants[0])">
                                <label>Adquirir</label>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="featured-product"
                    (click)="navigateToProduct(mostRated[2].category.nombre, mostRated[2].id)">
                    <img [src]="mostRated[2].variants[0].image" alt="">
                    <div class="featured-gradiant"></div>
                    <div class="info-container-featured">
                        <div class="info-contet">
                            <p class="card-info">{{mostRated[2].subtitle}}</p>
                            <h2 class="car-text">{{mostRated[2].name}}</h2>
                            <button class="button-chips"
                                (click)="$event.stopPropagation(); toOwn(mostRated[1].variants[0])">
                                <label>Adquirir</label>
                            </button>
                        </div>
                    </div>
                </div>
                }@else {
                @for (item of [1, 2, 3]; track $index) {
                <div class="sk-container">
                    <app-skeleton-loader [type]="4" class="sk"></app-skeleton-loader>
                </div>
                }
                }
            </div>

        </div>

    </div>


</div>
<app-corousel [data]="carousel3" />

<div class="recent-posts-container">
    <div class="recent-posts">
        <header>
            <h2 class="recent-posts-h2">Publicaciones recientes</h2>
        </header>
        <div class="post-container">
            <div class="post">
                <div class="post-img">
                    <img src="/assets/Image.png" alt="">
                </div>
                <div class="info-post">
                    <h4>19 Ene 2025</h4>
                    <h3>Nombre Atractivo</h3>
                    <p>Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur
                        convallis
                        risus.</p>

                </div>
            </div>
            <div class="post row">
                <div class="post-img">
                    <img src="/assets/Image.png" alt="">
                </div>
                <div class="info-post">
                    <h4>19 Ene 2025</h4>
                    <h3>Nombre Atractivo</h3>
                    <p>Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur
                        convallis
                        risus.</p>
                </div>
            </div>
            <div class="post row">
                <div class="post-img">
                    <img src="/assets/Image.png" alt="">
                </div>
                <div class="info-post">
                    <h4>19 Ene 2025</h4>
                    <h3>Nombre Atractivo</h3>
                    <p>Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur
                        convallis
                        risus.</p>
                </div>
            </div>
        </div>
    </div>

</div>