.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    font-family: var(--montser-font);
    padding-bottom: 80px;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 64px;
    margin-block: 80px;
}

.header-image {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 516px;
    overflow: hidden;

}




::ng-deep .ql-editor ol {

    display: block;

    list-style: revert !important;
    list-style-type: decimal !important;
    /* 1, 2, 3 */
}


::ng-deep .ql-editor li {
    padding: 0px;
    font-size: 20px;
}

::ng-deep .ql-editor ul {
    display: block;
    list-style: revert !important;
    list-style-type: disc;
    padding-left: 20px;
    /* ● */
    margin: 0px;
}

::ng-deep .ql-editor ul li::marker {
    color: black;
    content: "• ";
    font-size: 20px;
    font-weight: 700;
}

::ng-deep .ql-editor ol li {
    counter-increment: item;

}

::ng-deep .ql-editor ol li::marker {
    color: black;
    content: counter(item) '. ';
}




::ng-deep .ql-editor blockquote {
    color: #181D27;
    font-weight: 600;
    padding: 8px 0px 8px 20px;
    border-left: 2px solid #007981;
    font-size: 20px;
    line-height: 30px;

}

.header-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}


h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
   
}


::ng-deep h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
}

::ng-deep h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--primary-color);
}

.title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 960px;
    align-items: center;
    justify-content: center;
}

.title h1 {
    text-align: center;
}


::ng-deep p {
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
}


.tags {
    display: flex;
    justify-content: center;
    gap: 8px;

}

.tag-txt {
    width: fit-content;
    display: flex;
    border-radius: 16px;
    padding: 2px 10px;
}

::ng-deep .image-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-n-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.date-n-name p {
    font-size: 16px;
    line-height: 24px;
    color: #178C94;
}


.ql-editor {
    display: flex;
    flex-direction: column;
    overflow: visible !important;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0px;
    /* clave para que el texto se ajuste */
    overflow-wrap: break-word;
}

::ng-deep .image-alt {
    font-size: 14px;
    line-height: 20px;
}

::ng-deep .image {
    display: flex;
    max-width: 100%;
    height: 480px;

    overflow: hidden;
    margin: 16px auto;
    position: relative;
    margin: 0px;
    padding: 0px;
    /* Ajusta el margen según tus necesidades */
}





::ng-deep .blog-image {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
    object-position: center !important;

    display: block;
}




.blog-preview {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 720px;
    width: 100%;
}

.scroll-marker {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}

@media(max-width: 780px) {
    h1 {
        font-size: 36px;
        line-height: 44px;
    }

    ::ng-deep h2 {
        font-size: 24px;
        line-height: 32px;
    }

    ::ng-deep h3 {
        font-size: 20px;
        line-height: 30px;
    }

    ::ng-deep p {
        font-size: 18px;
        line-height: 28px;
    }

    ::ng-deep .ql-editor blockquote {

        font-size: 18px;
        line-height: 28px;

    }

    ::ng-deep .ql-editor li {
        font-size: 18px;
    }

    .main {

        padding-inline: 16px;
        box-sizing: border-box;
    }

    .header {
        margin-top: 60px;
    }

    ::ng-deep .image,
    .header-image {
        width: 100%;
        height: 240px;
        border-radius: 8px;
    }

    .blog-preview {
        box-sizing: border-box;
    }

    ::ng-deep .ql-editor {
        padding: 0px;
    }
}