.skeleton-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
    height: 100%;
    padding: 32px 20px;
    box-sizing: border-box;

    background: linear-gradient(180deg, #0000000a 0%, #00000050 96%);
}

@keyframes shimmer {
    0% {
        background-position: 0 -200%;
    }

    100% {
        background-position: 0 200%;
    }
}


.head-t1 {
    width: 80%;
    height: 32px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line1-t1 {
    width: 100%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line2-t1 {
    width: 60%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}



.skeleton-main.t2 {
    background-size: 100% 200%;
    padding: 145px;
}

.skeleton-main.t3 {
    padding: 145px;
    align-items: end;
}


.head-t2,
.head-t3 {
    width: 60%;
    height: 56px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.head2-t2,
.head2-t3 {
    width: 40%;
    height: 56px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line1-t2,
.line1-t3 {
    width: 30%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line2-t2,
.line2-t3 {
    width: 20%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.button-chips {
    width: auto;
    flex: 0 0 0;
}


.skeleton-main.t4 {
    flex-direction: column;
    justify-content: end;
    padding: 60px 40px;
}

.head-t4,
.line2-t4 {
    height: 40px;
    border-radius: 4px;
    background-color: #A4A7AE;
}

.line2-t4 {
    width: 70%;
    
}

.line1-t14 {
    border-radius: 4px;
    background-color: #A4A7AE;
    width: 60%;
    height: 16px;
}


@media (max-width: 700px) {
    .skeleton-main {
        padding-inline: 12px;
    }

    .skeleton-main.t2,
    .skeleton-main.t3 {
        padding-inline: 24px;
    }

    .head-t1 {}

    .head-t2,
    .head-t3 {
        height: 38px;
        width: 80%;
    }


    .head2-t2,
    .head2-t3 {
        height: 38px;
        width: 60%;
    }
}