.skeleton-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
    height: 100%;
    padding: 32px 20px;
    box-sizing: border-box;

    background: linear-gradient(180deg, #0000000a 0%, #00000050 96%);
}




.head-t1 {
    width: 80%;
    height: 32px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line1-t1 {
    width: 100%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line2-t1 {
    width: 60%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}



.skeleton-main.t2 {
    padding: 145px;
}

.skeleton-main.t3 {
    padding: 145px;
    align-items: end;
}


.head-t2, .head-t3 {
    width: 60%;
    height: 56px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.head2-t2,
.head2-t3 {
    width: 40%;
    height: 56px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line1-t2,
.line1-t3 {
    width: 30%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.line2-t2,
.line2-t3 {
    width: 20%;
    height: 16px;
    border-radius: 4px;
    background-color: #A4A7AE;
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

.button-chips {
    width: auto;
    flex: 0 0 0;
}