<div class="signup-form-container">
    @if(loading){
    <div class="loader-wrapper">
        <app-box-loader [message]="'Registrando...'"></app-box-loader>
    </div>
    }
    <header>
        <h2>Regístrate</h2>
        <p>Déjanos tus datos y mantente al tanto de nuestras ofertas y lanzamientos.</p>
    </header>

    <div class="form-container">
        <form [formGroup]="signUpForm">
            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Nombre*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('name')}">
                        <input type="text" formControlName="name" placeholder="Introduce tu nombre">
                    </div>
                    @if (!isValidForm('name')) {
                    <div class="error-msg">
                        Nombre requerido
                    </div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        Apellido
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('lastName')}">
                        <input type=" text" formControlName="lastName" placeholder="Introduce tu nombre">
                    </div>
                    @if (!isValidForm('lastName')) {
                    <div class="error-msg">
                        Nombre requerido
                    </div>
                    }
                </div>
            </div>


            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Correo electrónico*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('email')}">
                        <img src="/assets/mailGray.svg" />
                        <input type="text" formControlName="email" placeholder="olivia@gmail.com">
                    </div>
                    @if(!isValidForm('email')){
                    <div class="error-msg">
                        Formato de email icorrecto
                    </div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        Teléfono
                    </label>
                    <div class="input-content">

                        <div class="region-code">
                            <div class="drop" (click)="openDropdown = !openDropdown">
                                <span>{{regionCodes[selectedRegionCode].country}}</span>
                                <img src="/assets/chevron-down.svg" />
                                <div class="dropdown-region" [ngClass]="{'open': openDropdown}">
                                    @for (code of regionCodes; track $index) {
                                    <div class="dropdown-item"
                                        (click)="$event.stopPropagation(); onSelectRegionCode($index);">
                                        <span>{{code.country}}</span>
                                    </div>
                                    }
                                </div>
                            </div>
                            <span class="code">{{regionCodes[selectedRegionCode].code}}</span>
                        </div>

                        <input type="number" formControlName="phone" placeholder="0000-0000">
                    </div>
                    @if(!isValidForm('phone')){
                    <div class="error-msg">
                        Formato de teléfono incorrecto
                    </div>
                    }
                </div>
            </div>

            <div class="form-pair">
                <div class="input-container">
                    <label class="form-label">
                        Contraseña*
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('password')}">
                        <input type="password" formControlName="password" placeholder="Crear una contraseña"
                            id="password">
                        <img class="eye" [src]="visibility[0]? '/assets/eye-off.svg': '/assets/eye.svg'"
                            (click)="toggleVisibility('password', 0)" />
                    </div>
                    @if (isValidForm('password')) {
                    <p class="form-p">
                        Debe tener al menos 8 caracteres.
                    </p>
                    }
                    @else {
                    <div class="error-msg"> Debe tener al menos 8 caracteres.</div>
                    }
                </div>
                <div class="input-container">
                    <label class="form-label">
                        <br />
                    </label>
                    <div class="input-content" [ngClass]="{'error': !isValidForm('password') || passMisMatch() }">
                        <input type="password" formControlName="confirmPassword" placeholder="Confirma la contraseña"
                            id="passConfirm">
                        <img class="eye" [src]="visibility[1]? '/assets/eye-off.svg': '/assets/eye.svg'"
                            (click)="toggleVisibility('passConfirm', 1)" />
                    </div>
                    @if(passMisMatch()){
                    <div class="error-msg">
                        Las contraseñas deben coincidir
                    </div>
                    }
                </div>
            </div>

            <div class="actions">
                <button class="button-base" style="width: 100%;" [disabled]="!signUpForm.valid" (click)="onSubmit()">
                    <label>
                        Crear cuenta
                    </label>
                </button>

                <button class="social-button" style="width: 100%; margin-top: 16px;">
                    <img src="/assets/Social-icon-google.svg" alt="Google Icon">
                    <label>Regístrate con Google</label>
                </button>

            </div>

            <footer>
                <p>¿Ya tienes una cuenta? <a class="register" (click)="router.navigate(['/login/signin'])">Inicia
                        sesión</a></p>
            </footer>
        </form>
    </div>

</div>