@if(!charged){
<div class="chargin-bar-container">
    <div class="chargin-bar"></div>
</div>
}
<div class="product-container">
    <header class="header">
        <h2>Nuestras luminarias</h2>
        <h3>Lámparas disponibles</h3>
    </header>

    <div class="cat-container">
        <div class="cat-content">
            <button #CatElement class="button-chips cat"
                [ngClass]="{'active': currentCategory === categories.tableLumin}"
                (click)="onCategorieChange(categories.tableLumin)">
                <label>LUMINARIAS DE MESA</label>
            </button>
            <button #CatElement class="button-chips cat"
                [ngClass]="{'active': currentCategory === categories.wallLumin}"
                (click)="onCategorieChange(categories.wallLumin)">
                <label>LUMINARIAS DE PARED</label>
            </button>
            <button #CatElement class="button-chips cat"
                [ngClass]="{'active': currentCategory === categories.footLumin}"
                (click)="onCategorieChange(categories.footLumin)">
                <label>LUMINARIAS DE PIE</label>
            </button>
            <button #CatElement class="button-chips cat"
                [ngClass]="{'active': currentCategory === categories.roofLumin}"
                (click)="onCategorieChange(categories.roofLumin)">
                <label>LUMINARIAS DE TECHO</label>
            </button>
            <button #CatElement class="button-chips cat"
                [ngClass]="{'active': currentCategory === categories.lightBulb}"
                (click)="onCategorieChange(categories.lightBulb)">
                <label>ACCESORIOS</label>
            </button>
        </div>

        <div class="single-product-nav">

            @if(charged){
            @for (prod of products; track $index) {
            <img class="itemElement" #itemElem [src]='prod.vector' (click)="selectProduct($index)" />
            }
            <div class="base-bar"></div>
            <div class="indicator" [ngStyle]="selectedIndex < 0 ? {'display': 'none'}: {} "
                [style.transform]="'translateX(' + indicatorX + 'px)'" [style.width.px]="indicatorWidth"></div>
            }
            @else {
            @for (item of [0,1,2,3,4,5,6,7,8]; track $index) {
            <div class="loader"></div>
            }
            }
        </div>

    </div>


    <router-outlet />

</div>