<main class="detail-container">
    @if(loading){
    <div class="loader-wrapper">
        <app-box-loader></app-box-loader>
    </div>
    }
    <div class="img-container">
        <div class="main-image">
            @if (charged && selectedImage === -1 && hasModel3D()) {

            <model-viewer [src]="model3DUrl" camera-controls auto-rotate ar ar-modes="webxr scene-viewer quick-look"
                ar-scale="auto" style="width: 100%; height: 100%; display: block;">
            </model-viewer>
            }@else if(charged){
                    <img class="main-img" [ngSrc]="images[selectedImage]" width="500" height="500"
                        [loaderParams]="{skipResize: true}" priority
                [alt]="currentProduct? getAlt(currentProduct.variants[currentVariant]): ''" />
            }
            @else {
            <div class="image-loader"></div>
            }
        </div>
        <div class="sec-img-container">
            @for (item of images; track $index) {
            <div class="sec-images">
                @if (charged) {
                <img [ngSrc]="item" width="100" height="100" [alt]="currentProduct? getAlt(currentProduct.variants[currentVariant]): ''"
                    (click)="selectImage($index)">
                }
                @else {
                <div class="image-loader"></div>
                }
            </div>
            }
            @if (hasModel3D()) {
            <div class="sec-images" (click)="selectImage(-1)">
                <model-viewer [src]="model3DUrl" style="width: 100%; height: 100%; display: block;">
                </model-viewer>
            </div>
            }
        </div>
    </div>
    <div class="detail-content">
        @if(discounts( currentProduct? currentProduct.variants[currentVariant] : undefined) > 0){
        <div class="discount">
            <app-discount
                [discount]="discounts(currentProduct? currentProduct.variants[currentVariant] : undefined)*100"></app-discount>
        </div>
        }
        @else if (currentProduct? currentProduct.variants[currentVariant].stock < 1 : false) {
            <div class="discount agotado">
                <p>Agotado</p>
            </div>
        }
        @if(charged){
        <div class="details">
            <h1>{{currentProduct?.name}}</h1>
            <h4>{{currentProduct?.subtitle}}</h4>
            <p>{{currentProduct?.description}}</p>
            <div class="features">

                <div class="finishing-electric">
                    <div class="finishing">
                        <h3>TERMINACIONES</h3>
                        @for (item of prodFinishes; track $index) {
                        <div class="finish-details">
                            <p>{{item.text}}</p>
                            <div class="finis-image">
                                <img [ngSrc]="item.image" width="40" height="40" [alt]="item.text">
                            </div>
                        </div>
                        }
                    </div>
                    <div class="electric">
                        <h3>SISTEMA ELÉCTRICO
                        </h3>
                        @for (item of currentProduct?.details; track $index) {
                        <p>{{item.text}}</p>
                        }
                    </div>
                </div>
                <div class="variants-n-3d">
                    <div class="variants">
                        <h3>COLORES</h3>
                        <div class="variant-list">
                            @for (item of currentProduct?.variants; track $index) {
                            <div class="color-container" (click)="variantChange($index)"
                                [ngClass]="{'active': currentVariant === $index}">
                                <img [src]="item.color!.image" [alt]="item.color!.name">
                            </div>
                            }
                        </div>
                    </div>
                    @if (hasModel3D()) {
                    <div class="download-3d">
                        <button class="download-3d-btn" (click)="downloadModel3D()">
                            <img [src]="ASSETS.icons.model3d" alt="Descargar" />
                            <span>Descargar arch. 3D</span>
                        </button>
                    </div>
                    }
                </div>
            </div>
        </div>
        }@else {
        <div class="details sk">
            <div class="sk-pair">
                <div class="sk-bar header"></div>
                <div class="sk-bar s-line"></div>
            </div>
            <div class="sk-pair">
                <div class="sk-bar line"></div>
                <div class="sk-bar line"></div>
                <div class="sk-bar line"></div>
                <div class="sk-bar line w70"></div>
            </div>

            <div class="sk-pairs">
                <div class="sk-pair">
                    <div class="sk-bar line w70"></div>
                    <div class="sk-bar line"></div>
                    <div class="sk-bar line"></div>
                    <div class="sk-bar line"></div>
                </div>
                <div class="sk-pair">
                    <div class="sk-bar line w70"></div>
                    <div class="sk-bar line"></div>
                    <div class="sk-bar line"></div>
                    <div class="sk-bar line"></div>
                </div>
            </div>
            <div class="sk-pair">
                <div class="sk-bar line 70"></div>
                <div class="sk-bar cube"></div>
            </div>

        </div>
        }
        <div class="button-bar">
            <div class="divider"></div>
            <div class="price-info">
                @if(charged){
                <p>{{currentProduct!.variants[currentVariant].price * (1 -discounts(currentProduct?
                    currentProduct.variants[currentVariant] : undefined)) | customCurrency}}
                    @if(discounts(currentProduct? currentProduct.variants[currentVariant] : undefined) > 0){
                    <span class="old-price">{{currentProduct!.variants[currentVariant].price |
                        customCurrency}}</span>
                    }
                    <span [style.font-weight]="600" class="currency">USD</span>
                </p>
                }
                @else {
                <div class="sk-bar line price"></div>
                }
                <span>Cada Luminaria</span>

            </div>
            <div class="btn-section">
                <button class="button-base" [disabled]="currentProduct!.variants[currentVariant].stock <= 0"
                    style="flex: 1;" (click)="toOwn()"> <label>ADQUIRIR</label></button>
                <button class="button-chips" [disabled]="currentProduct!.variants[currentVariant].stock <= 0"
                    (click)="addToCart()"><img [src]="ASSETS.icons.shoppingBag" /></button>
            </div>
        </div>
    </div>
</main>