h2 {
    color: var(--Gray-700, #414651);

    font-family: var(--montser-font, 'Montserrat');
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin: 0px;
    letter-spacing: -0.96px;
}

h4 {
    color: var(--Brand-600, #178C94);

    /* Text md/Semibold */
    font-family: var(--montser-font, 'Montserrat');
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0px;
}

p {
    color: var(--Gray-700, #414651);

    /* Text xl/Regular */
    font-family: var(--montser-font, 'Montserrat');
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 48px;
}

.detail-container {
    display: flex;
    gap: 40px;
    /*height: 768px;*/
}

.img-container {
    display: flex;
    width: 644px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19.346px;
    overflow: hidden;
}


.detail-content {
    display: flex;
    flex: 1;
    min-width: 472px;
    flex-direction: column;
    padding-inline: 48px;
    padding-block: 64px;
    box-sizing: border-box;
    border-radius: var(--Corner-Small, 8px);
    background: var(--Gray-50, #FAFAFA);
}

.details {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-bottom: 32px;
}

.details h2,
.details h4 {
    width: 100%;
    text-align: left;
}

.button-bar {
    position: relative;
    display: flex;
    padding-top: 24px;
    height: auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.button-bar p {
    color: var(--Gray-700, #414651);

    /* Display sm/Semibold */
    font-family: var(--montser-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    margin: 0px;
    flex: 1;
}

.price-info span {
    color: var(--Gray-700, #414651);
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.divider {
    position: absolute;
    top: 0px;
    height: 1px;
    background: var(--Gray-300, #D5D7DA);
    width: 100%;
}

.btn-section {
    display: flex;
    gap: 12px;
    width: auto;
    height: 48px;
}

.btn-section .button-base {
    width: auto;
}

.main-image {
    display: flex;
    align-items: center;
    height: 644px;
    justify-content: center;
    border-radius: 3.869px;
    overflow: hidden;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sec-img-container {
    display: flex;
    height: 123px;
    gap: 7.74px;


}

.sec-images {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 1;
    cursor: pointer;
    /*
   width: 122px;
   */
}

.sec-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.finishing-electric {
    display: flex;
    width: 100%;
    gap: 48px;
}

.finishing,
.electric {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex: 1;
}

.finishing h3,
.electric h3,
.variants h3 {
    color: var(--Gray-700, #414651);

    /* Text lg/Semibold */
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 0px;
    /* 155.556% */
}

.finishing p,
.electric p {
    color: var(--Gray-700, #414651);

    /* Text lg/Medium */
    font-family: var(--montser-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    margin: 0px;
}

.variants {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}


.variants h3 {
    text-align: left;
}

.variant-list {
    display: flex;
    gap: 8px;
}

.color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5px solid black;
    cursor: pointer;
}

.color-container.active {
    border: 2px solid #178C94;
}

.color-container img {
    min-width: 100%;
    height: 100%;
}

.finish-details {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 100%;
    gap: 8px;
}

.finis-image {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
}

.finis-image img {
    height: 100%;
    min-width: 100%;
}

.btn-section .button-chips {
    padding: 14px;
}

@media (max-width: 1300px) {

    .detail-container {
        flex-direction: column;
        align-items: center;
    }

    .detail-content {
        max-width: 645px;
    }


}

@media (max-width: 900px) {}

@media (max-width: 700px) {
    .img-container {
        width: 100%;
    }

    .detail-container {
        gap: 36px;
    }

    .main-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    .sec-img-container {
        width: 100%;
        height: auto;
    }

    .sec-images {
        width: 100%;
        aspect-ratio: 1;
    }

    .detail-content {
        padding: 32px 16px;
    }

    .details p {
        margin-bottom: 28px;
    }

    .electric p {
        margin: 0px;
    }

    .finishing-electric {
        gap: 32px;
    }

    .detail-content {
        width: 100%;
        min-width: 300px;
    }

    .details h2 {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        /* 126.667% */
    }

    .details h4,
    .details p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 142.857% */
    }

    .features {
        flex-direction: column-reverse;
    }

    .finishing-electric {
        flex-direction: column;
    }

    .button-bar p {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        /* 155.556% */
        flex: 1;
        min-width: 100px;
    }



    .button-bar .button-base {
        padding: 8px 14px;
        flex: auto;
        width: auto;

    }

    .button-bar .button-base label {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 142.857% */
    }

    .btn-section {
        height: 36px;
    }

    .btn-section .button-chips {
        padding: 8px;
    }
    .price-info span{
        font-size: 11px;
        line-height: 18px;
    }

    .finish-details p{
        margin: 0px;
    }
}