/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --gray-25: #FDFDFD;
    --montser-font: 'Montserrat', sans-serif;
}

.button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--Brand-600, #178C94);
    background-color: #178C94;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);

}

.input-base {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

.button-base label {
    color: var(--White, #FFF);
    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}