/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
    --gray-25: #FDFDFD;
    --montser-font: 'Montserrat', sans-serif;
}

.button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--Brand-600, #178C94);
    background-color: #178C94;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    transition: background-color 0.5s ease;
}

.input-base {
    display: flex;
    padding: 10px 14px;
    align-items: center;

    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    line-height: 24px;
    margin: 0px;
}

.button-base label,
.button-base span {
    color: var(--White, #FFF);
    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.button-base:hover {
    border: 1px solid var(--Brand-700, #007981);
    background: var(--Brand-700, #007981);
    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    cursor: pointer;
}

.button-base label:hover,
.button-base span:hover {
    cursor: pointer;
}

.button-base:active {

    border: 1px solid var(--Brand-600, #178C94);
    background: var(--Brand-600, #178C94);
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05), 0 0 0 4px #F4EBFF;
}

.button-base:disabled {
    border: 1px solid var(--Brand-200, #C7E5E7);
    background: var(--Brand-200, #C7E5E7);
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}







.button-chips {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);
    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    transition: background 0.2s ease;
}

.button-chips label,
.button-chips span {
    color: var(--Gray-700, #414651);

    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: color 0.2s ease;
    /* 150% */
}

.button-chips:active,
.button-chips.active {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Brand-50, #F0FEFF);
}

.button-chips:hover,
.button-chips label:hover,
.button-chips span:hover {
    cursor: pointer;
}

.button-chips:active label,
.button-chips.active label,
.button-chips:active span,
.button-chips.active span {
    color: var(--Brand-700, #007981);

    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




@keyframes exit {
    0% {

        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes exitTeam {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
:root[data-direction="right"]::view-transition-old(home),
:root[data-direction="right"]::view-transition-old(team),
:root[data-direction="right"]::view-transition-old(galery),
:root[data-direction="right"]::view-transition-old(blog) {
    animation: exit 0.6s ease forwards;
}


:root[data-direction="left"]::view-transition-new(home),
:root[data-direction="left"]::view-transition-new(team),
:root[data-direction="left"]::view-transition-new(galery),
:root[data-direction="left"]::view-transition-new(blog) {
    animation: enter 0.6s ease forwards;
}
*/
a {
    text-decoration: none;
}

/* DIRECCIÓN → “right” (vamos hacia la derecha) 
:root[data-direction="right"] ::view-transition-old(root) {
    animation: exit 1s ease forwards;
}

:root[data-direction="left"] ::view-transition-new(root) {
    animation: enter 1s ease forwards;
}
*/



.social-button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

.social-buttons label,
.social-buttons span {
    color: var(--Gray-700, #414651);

    /* Text md/Semibold */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.input-content {
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

.input-content.error {
    border: 1px solid var(--Error-300, #FDA29B);

}

input,
.input-content span,
textarea {
    border: none;
    width: 100%;
    height: 100%;

    color: var(--Gray-500, #717680);

    /* Text md/Regular */
    font-family: var(--montser-font, sans-serif);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */


}

input:focus {
    border: none;
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-container label {
    color: var(--Gray-700, #414651);

    /* Text sm/Medium */
    font-family: var(--montser-font, sans-serif);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    margin-left: 50%;
    margin-top: 25%;
    width: 50px;
    height: 50px;
    border: 5px solid wheat;
    /* Light gray border */
    border-radius: 50%;
    border-top-color: #178C94;

    animation: spin 2s linear infinite;
}

.user-button {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: lightgray;
}

.error-msg {
    color: var(--Error-500, #F04438);

    /* Text sm/Regular */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}


.chargin-bar-container {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 8px;
    background-color: #F5F5F5;
    z-index: 1000;
}



.chargin-bar {
    width: 0%;
    height: 100%;
    background-color: var(--Brand-700, #178C94);
    animation: loading 4s ease-in-out forwards;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    80% {
        width: 80%;
    }

    100% {
        width: 95%;
    }
}