.main form,
.main {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.fp-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.fp-header h2 {
    color: var(--Gray-900, #181D27);

    /* Display md/Semibold */
    font-family: var(--montser-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -0.72px;
    margin: 0px;
}

.fp-header p {
    color: var(--Gray-600, #535862);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    /* 150% */
}

.timer {
    color: var(--Blue-light-500, #0BA5EC);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
    text-align: right;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.input-cont {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    width: 36px;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D5D7DA);
    background: var(--White, #FFF);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    box-sizing: border-box;
}

.input-cont input {
    color: var(--Gray-500, #717680);

    /* Text md/Regular */
    font-family: var(--montser-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    text-align: center;

    /* 150% */

}

.resend {
    color: var(--Brand-700, #007981);

    /* Text sm/Semibold */
    font-family: var(--montser-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    margin: 0px;
}